@model IEnumerable<PortalDeNoticias.Models.Noticia>

@{
    ViewBag.Title = "Página Inicial";
}

@foreach (var item in Model) 
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <p class="panel-title">@item.Titulo</p>
        </div>
        <div class="panel-body">
            <p>@item.Conteudo.Substring(0,50) ...</p>
        </div>
        <div class="panel-footer">
            @Html.ActionLink("Ler mais", "Detalhes", new {id= item.Id}, new {@class = "btn btn-default"})
        </div>
    </div>
}
